<p *ngIf="!gameHistory"><em>Loading...</em></p>

<h1 class="text-center">Player {{gameHistory.playerWhoWon}} has won</h1>
<div class="center-button"><button class="btn-primary" (click)="getGameHistoryData()" href="#!">Play again</button></div>
<br />
<div class="d-flex">
    <div *ngFor="let player of gameHistory.playersHistory" class="main">
        <h3 class="text-center">Player {{player.playerNumber}}</h3>
        <table class='table table-striped' aria-labelledby="tableLabel">
            <thead>
                <tr>
                    <th></th>
                    <th *ngFor="let num of numbers;">{{num}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let histories of player.boardHistory;index as i;">
                    <td>
                        {{alphabet[i]}}
                    </td>
                    <td *ngFor="let history of histories;index as j;" [ngClass]="{'sunk': history.hasBeenSunk, 'hit' : history.hasBeenHit && history.hasBeenSunk == false }">
                        {{history.shipInitial}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>