/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


td {
    text-align: center;
    background-color: white;
    padding: 10px;
    border: 1px solid #dee2e6;
}

.sunk {
    background-color: black;
    color: white;
}

.hit {
    background-color: mediumvioletred;
    color: white;
}

.main {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.center-button {
    display: flex;
    justify-content: center;
}